/* Global Style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
html, body{
    height: 100%;
}
#root{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.App{
    flex: 1 1 auto;
}
.container{
    max-width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    flex: 1 1 auto;
}
.row{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 450px 450px;
    grid-gap: 25px;
    margin-top: 25px;
}

/* Style for posts and content */

.post{
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 430px;
    justify-content: center;
    text-align: center;
    border-radius: 15px;
}
.content__posts{
    width: 100%;
    height: 100%;
    background: #e0edff;
}
.title__posts{
    margin-top: 10px;
    font-size: 20px;
}
.body__posts{
    font-size: 13px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.img__posts{
    width: 100%;
    height: 250px;
}
.img__posts img{
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}
.post__btn{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.post__btn button{
    margin: auto 0;
}
.Post__content li{
    margin-top: 30px;
    list-style-type: none;
}
.post-enter {
    opacity: 0;
}
.post-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}

/* Pagination for posts */

.pagination__wrap{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
.pagination_elem{
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 15%;
    transition: .2s;
}
.pagination_elem:hover{
    background: #4da9a9;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 0px 10px 0px teal;
}
.pagination_elem__current{
    background: teal;
    font-weight: bold;
    color: #fff;
    box-shadow: 0px 0px 10px 0px teal;
}

/* Style NavBar */

.navbar{
    display: flex;
    height: 60px;
    width: 100%;
    padding: 0 15px;
    align-items: center;
    background: aliceblue;
}
.navbar__items{
    margin-right: auto;
    margin-left: auto;
}
.navbar__items a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    transition: .3s;
    padding: 20.3px;
}
.navbar__items a:hover{
    color: #000000;
    box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.3);
}

/* Style for page NotFound */

.NotFound{
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    margin-top: 40px;
}

/* Comment block for template page */

.comment__block{
    background: aliceblue;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px;
}
.comment__block h5{
    padding: 3px;
    border-radius: 3px;
    background: #dce1ec;
}

/* Login block page Login */

.login__block{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

/* Footer style */

.footer{
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    padding: 0 15px;
    align-items: center;
    background: #dce8f1;
}
.footer a{
    font-weight: 500;
    font-size: 13px;
    margin-top: 30px;
    padding: 5px;
    border-radius: 7px;
    color: #424242;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}
.footer a:hover{
    color: #000000;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

/* Logo for web-site */

.logo a{
    font-weight: 500;
    font-size: 23px;
    text-decoration: none;
    color: #424242;
    transition: .3s;
}
.logo a:hover{
    color: #000;
}

/* Filter block style */

.text__search{
    color: #424242;
    margin: 5px 0;
}

/* About page style */

.about_content__block h1{
    text-align: center;
    margin-top: 30px;
    font-size: 28px;
    color: #252525;
}
.about_content__block p{
    margin: 25px auto;
    text-align: center;
    max-width: 700px;
}